.pagination {
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-right: -10px;
}

.pagination :global(.ant-pagination-item) {
    padding: 0 !important;
    border: 1px solid var(--background-color-quinary);
}

.pagination :global(.ant-pagination-item a) {
    width: 100%;
    border-radius: 5px;
    color: var(--color-text-primary);
    font-weight: 400;
}

/* HOVER PAGINATIO */
.pagination :global(.ant-pagination-item:hover) {
    border-color: var(--color-text-octonary);
    background-color: var(--background-color-quaternary);
}

.pagination :global(.ant-pagination-item:hover a) {
    color: var(--color-text-octonary);
}

/* ACTIVE PAGINATION */

.pagination :global(.ant-pagination-item-active) {
    border-color: var(--color-text-octonary);
    background-color: var(--background-color-quaternary);
}

.pagination :global(.ant-pagination-item-active a) {
    color: var(--color-text-octonary);

}

/* ARROWS */
.pagination :global(.ant-pagination-prev),
.pagination :global(.ant-pagination-next) {
    padding: 0 !important;
    border: 1px solid var(--background-color-quinary);
}

.pagination :global(.ant-pagination-prev:hover),
.pagination :global(.ant-pagination-next:hover) {
    border-color: var(--color-text-octonary);
}

.pagination :global(.ant-pagination-prev:hover button),
.pagination :global(.ant-pagination-next:hover button) {
    background-color: var(--background-color-quaternary) !important;
    color: var(--color-text-octonary);
}

/* COUNT */
.pagination :global(.ant-pagination-total-text) {
    background: transparent;
}