.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 23px;

}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color-primary);
    font-size: 14px;
    border: 1px solid var(--background-color-quinary);
    border-top: none;
}

.tableWrapper {
    max-height: 70vh;
    overflow: auto;
    border-top: 1px solid var(--background-color-quinary);
    border-bottom: 1px solid var(--background-color-quinary);
}

.tableWrapper::-webkit-scrollbar {
    display: none;
}

.pagination {
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

/* Header */
.thead {
    background-color: var(--background-color-secondary);
    position: sticky;
    top: 0;
    z-index: 1;
}

.th {
    padding: 12px 16px;
    text-align: left;
    font-weight: 600;
    color: var(--color-text-secondary);
    border-bottom: 1px solid var(--background-color-quinary);
    border-right: 1px solid var(--background-color-quinary);
}

/* Body */
.tr {
    transition: background-color 0.2s ease;
}

.tr:hover {
    background-color: var(--background-color-secondary);
    cursor: pointer;
}

.td {
    padding: 10px 16px;
    color: var(--color-text-primary);
    border-bottom: 1px solid var(--background-color-quinary);
    border-right: 1px solid var(--background-color-quinary);
}

.td span {
    gap: 5px;
    display: flex;
    width: max-content;
    align-items: center;
}

.tagHot,
.tagCold,
.tagWarm,
.tagActive,
.tagInactive {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.tagHot {
    background-color: var(--color-error-light);
    color: var(--color-error);
}

.tagCold {
    background-color: var(--color-cool-light);
    color: var(--color-text-octonary);
}

.tagWarm {
    background-color: var(--color-warm-light);
    color: var(--color-text-septenary);
}

.tagActive {
    background-color: var(--color-success-light);
    color: var(--color-success);
}

.tagInactive {
    background-color: var(--color-error-light);
    color: var(--color-error);
}

/* Empty state */
.empty {
    text-align: center;
    padding: 20px;
    color: var(--color-text-secondary);
}


/* Responsive */
@media (max-width: 768px) {
    .table {
        font-size: 13px;
    }

    .th,
    .td {
        padding: 10px;
    }
}