.textbox {
    border: 1px solid var(--color-text-primary);
    padding: 6px 10px;
    min-width: 350px;
    height: 35px;
    font-family: var(--font-family-primary);
}

.hideBorder {
    border: none !important;
}

.textbox:focus {
    outline: 1px solid var(--color-text-primary);
    border: 1px solid var(--color-text-octonary);
    box-shadow: 0 0 0 3px var(--background-color-quaternary);
    height: 35px;
    outline: none;
}