.main {
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    height: 60px;
    border-bottom: 1px solid var(--color-dark);
}

.main img,
.main i {
    width: 1.5rem;
    color: black;
}